[2015-11-05 09:55] moethu opened #1 "Network surfaces in GH not working"
![2015-11-05_09h26_48](https://cloud.githubusercontent.com/assets/8201465/10965198/3f1f5cb4-83a3-11e5-9ad1-4c8a371bb123.png)

[2015-11-08 17:07] moethu opened #2 "Dynamo Write SKP example"
![bildschirmfoto 2015-11-08 um 17 03 21](https://cloud.githubusercontent.com/assets/8201465/11021515/2e212182-863b-11e5-82be-367c7d2b9339.png)

[2015-11-08 17:08] #1 closed

[2015-11-08 17:08] moethu opened #3 "Dynamo Read SKP Example"
![bildschirmfoto 2015-11-08 um 00 47 45](https://cloud.githubusercontent.com/assets/8201465/11021521/65373cc4-863b-11e5-8dc7-956edbec0b01.png)

[2016-12-07 20:39] Ekki opened #4 "Contact?"
Hi,

is there any way to get in contact with you? Sorry for misusing an Issue for this but I failed to find another way...

[2016-12-07 20:49] moethu commented on #4
sure @Ekki ```support /at/ grevit.net```

[2016-12-07 20:50] #4 closed

[2017-03-16 10:45] fstandhartinger opened #5 "Seems not to work with current version of Sketchup anymore"
Hi there!
Thanks for the great work! I tried to get this working and have been able to build and run a console .NET app that uses your SketchUpNET library, but I have not been able to load a .SKP file that was created with a recent version of sketchup.
I guess this is probably because the library is implemented for an outdated sketchup api version, right?
Is there any chance you could provide it f

[2017-03-16 11:44] moethu commented on #5
@fstandhartinger thanks for reporting this. I never built it with SKP2017 I think, will build and check with the latest version this weekend.

[2017-03-16 11:52] fstandhartinger commented on #5
Thanks a lot! But I have just run another test, and I don't know what I have done wrong last time I tried, but this time I have been able to load the .SKP file! So no real need anymore from my side.
By the way: Do you have experience with Unity (the game engine)? I am planning to implement a module to import Sketchup models to unity Meshes and GameObjects. You don't have anything like that availab

[2017-03-16 12:35] moethu commented on #5
sadly not, but it should be quite straight forward since most of the geometry definitions are quite simple. On meshes you'll just need the points and faces with ids referencing the points. I can add a method to export all the faces as meshes from SKP to C# if this helps?

[2017-03-16 12:48] fstandhartinger commented on #5
Wow, thanks for the offer, sure that would be highly appreciated! Thanks alot!

What I am finally aiming for is something similar to this ObjImporter script for unity, which can import an .OBJ file:
[OBJ Omporter for Unity](http://wiki.unity3d.com/index.php?title=ObjImporter)
The code for the mesh creation seems kind of straigtforward to me.
The unity mesh object seems to be pretty self explanator

[2017-03-18 11:04] fstandhartinger commented on #5
If you consider implementing a complete .Skp to Unity Import, or help me to implement it, dou can also just contact me at stanzy at gmx de, if you like we can talk about what I could pay (or donate) you for your help! Best regards Florian

[2017-03-18 22:16] moethu commented on #5
@fstandhartinger implemented meshes in https://github.com/moethu/SketchUpNET/commit/a3c5afc2cf267dc7989c48adb2cd66ad1d362f23

[2017-03-18 22:16] #5 closed

[2017-03-20 08:40] codeex opened #6 "Can you add the support of sketchup 2017"
I try it in 2017,but can't load skp file.

[2017-03-20 12:03] moethu opened #7 "Add Materials export"

[2017-03-20 20:15] moethu commented on #7
@fstandhartinger just added materials.

[2017-03-20 20:16] #7 closed

[2017-03-20 20:16] moethu commented on #7
Each surface has a Back and FrontMaterial

[2017-03-20 20:16] moethu commented on #7
Are you going to match by name or color? I added the color as ARGB as well

[2017-03-20 20:43] moethu commented on #6
@codeex just added it in the 2017 branch: https://github.com/moethu/SketchUpNET/tree/2017

[2017-03-20 20:43] moethu commented on #6
works for me please let me know if it does for you.

[2017-03-20 20:43] #6 closed

[2017-03-20 20:48] fstandhartinger commented on #7
@moethu: Wow, incredible performance! I will match textures by name. Am absolutely happy with what you did there!
great thanks + kudos!

[2017-03-21 09:28] codeex opened #8 "GetString has a bug"
static System::String^ GetString(SUStringRef name)
[code]

System::String^ s2= gcnew System::String(name_utf8);
**If you are in use other language,s2 return error string. replace it with**
System::String^ s1= gcnew System::String(name_utf8,0,name_length,System::Text::Encoding::UTF8);

[2017-03-21 09:44] moethu commented on #8
@codeex thanks for spotting this, will change it

[2017-03-21 19:36] moethu commented on #8
fixed

[2017-03-21 19:36] #8 closed

[2017-03-22 01:04] codeex commented on #8
Thanks! I will fork you.

[2017-03-22 02:22] codeex opened #9 "bug: SketchUp.LoadModel don't support other country's language"
Scene:
SketchUp skp = new SketchUp();
 var bRtn = skp.LoadModel(“c:\\TestModel - 副本.skb”, true);
but return false。
in bool LoadModel(System::String^ filename, bool includeMeshes),
Fix it：

			#pragma region Convert System::String to const char* by utf8 encoding
			array<unsigned char>^ bytes = System::Text::Encoding::UTF8->GetBytes(filename);
			char* path = new char[bytes->Length + 1];
			path[by

[2017-03-22 06:40] codeex opened #10 "Can develop this with you?"
You do it well,The idea very good,I hope join you,maybe?

[2017-03-30 14:50] bkvsy opened #11 "Filter geometry by layer"
Hi, is it possible to filter imported geometry in dynamo by layer name?

[2017-04-03 17:51] moethu commented on #10
Thanks @codeex I'd love to have you on board. I can move it to an organization

[2017-04-03 17:57] moethu commented on #11
@bkvsy this is not implemented at the moment but I can add it

[2017-04-04 15:17] bkvsy commented on #11
Great.
I'm looking for a solution for importing separate sketchup solid geometry modeled in one file to separate mass in revit ie. 4 blocks representing 4 different buildings. Right now that imported group of blocks becomes one mass in revit. And mass floor represents a connected sum of floors of all buildings in group.
I can't find a better way rather than creating many separate skp files and imp

[2017-04-04 16:37] moethu commented on #11
@bkvsy just uploaded a new version handling it... at least on the highest level. You can have nested groups / instances / etc... and they all can have layers... so I just added a node giving you the model content by layername for the highest level of elements.

[2017-04-04 16:37] #11 closed

[2017-06-18 09:44] mspenn opened #12 "Missing Library"
Cannot not compile due to missing slapi.lib

[2017-06-18 10:01] #12 closed

[2017-06-18 10:02] mspenn commented on #12
I have found the lib, thanks

[2017-08-23 01:22] xiongbigbear opened #13 "Branch 2017 group and instance is nested?"
Why there is no group inside group and no group inside component?

[2017-09-14 23:25] kv2 opened #14 "Gentle Feature Request: Sketchup.LoadModel solids output (components)"
Hello Maximilian,

I am wondering if it would be possible to load sketchup components as solids, or at least as @L2 lists of surfaces. Right now the model comes in as a large list of surfaces. Joining surfaces by polysurfaces and making solids out of those to be exported into revit only works as long as no geometry intersects.

Importing something such as this, and having each object show up requi

[2017-09-14 23:26] kv2 opened #15 "Gentle Feature Request: Sketchup.LoadModel materials"
Hello Maximilian,

Is it at all possible to retain material and texture mapping data through sketchup - dynamo - revit?

[2017-09-15 17:16] kv2 commented on #14
I took a look at the code, and your cpp wrapper supports components - ./SketchUp/SketchUpNET/SketchUpNET/Component.cpp
./SketchUp/SketchUpNET/SketchUpNET/SketchUpNET.cpp
`Components = gcnew System::Collections::Generic::Dictionary<String^,Component^>();

			// Get all Components
			size_t compCount = 0;
			SUModelGetNumComponentDefinitions(model, &compCount);

			if (compCount > 0) {
				std::vect

[2017-09-19 20:26] kv2 commented on #14
Never-mind! I read more of the code, and it turns out you support components as "instances" you also support groups. Thanks so much!

Issue is now closed.

[2017-12-06 09:27] moethu commented on #15
I think it should be possible. I'll have a look, sorry for the delay

[2017-12-06 09:29] moethu commented on #14
@kv2 sorry for the delay, I was very busy. Is this solved or do you want some changes?

[2017-12-06 09:29] moethu commented on #13
@xiongbigbear let me check this. everything should be nested of course

[2017-12-06 09:30] moethu commented on #9
@codeex I changed this some time ago, is this still an issue?

[2018-07-22 11:29] #14 closed

[2018-07-22 11:30] #9 closed

[2018-07-22 11:35] moethu commented on #13
I'm reading nested groups and groups in components.

[2018-07-22 11:35] #13 closed

[2018-07-22 12:22] moethu commented on #15
@kv2 this should work now, I'll update the Dynamo package

[2018-08-10 17:11] Kevinator123 commented on #5
@fstandhartingner, did you get it to work? And do you mind sharing how you got it to work? I can't seem to get it to read a SKP file but my program doesn't throw any errors, it just doesn't do anything at all.

[2018-08-12 15:14] moethu commented on #5
@Kevinator123 can you describe your issue in a bit more detail please? Did you build the lib yourself? Did you load a binary? Which program are you talking about?

[2018-08-13 20:34] Kevinator123 commented on #5
So I'm writing my own program in C# that would allow the user to drag an skp file onto it and view it in VR, but for that to work I need to be able to read the model from the SKP file without opening sketchup. This is where your library would come in handy, unfortunately I can't get it to work. I can't build it myself, says that it can't find slapi.h, even though the sketchupapi lib and dll are in

[2018-08-14 15:07] moethu commented on #5
Let me build it and commit some changes to the environment - for building it you'll have to install the SkpSDK. And you'll have to build it because the binaries are very outdated.

[2018-08-14 16:33] moethu commented on #5
@Kevinator123 please try with the latest

[2018-08-14 17:47] Kevinator123 commented on #5
So I downloaded the latest version, couldn't build it, again SketchUpAPI/slapi.h missing. So I tried replacing the existing SketchUpAPI.lib with the latest, still the same error.

[2018-08-14 20:18] moethu commented on #5
You should check all paths in the project's properties - check the output window, maybe it's giving you a hint where its looking for this header file. If not, I can build you a binary: what SketchUp Version do you need?

[2018-08-18 20:31] #15 closed

[2018-08-19 22:38] Kevinator123 commented on #5
I have all the files in the same folder but it's still throwing an error
![image](https://user-images.githubusercontent.com/17850642/44313930-5e66e100-a411-11e8-95c6-d9bf1a3defff.png)

[2018-08-20 12:31] Kevinator123 commented on #5
In dependencywalker I get this:
![image](https://user-images.githubusercontent.com/17850642/44340627-b7705c80-a485-11e8-966e-308a22e0884a.png)
And I have installed the latest version of VCredist

[2018-08-21 11:01] Kevinator123 commented on #5
![image](https://user-images.githubusercontent.com/17850642/44397851-04196d80-a542-11e8-964c-96a8c9c6568c.png)
This is what my project looks like, when I run it and drag a file on it to read I get the following error:
![image](https://user-images.githubusercontent.com/17850642/44397902-2c08d100-a542-11e8-9d8c-7e5a9800de64.png)
And when I open the SketchUpNET dll in dependencywalker I get this:
![i

[2018-08-21 11:36] Kevinator123 commented on #5
Nevermind, got it to work, apparently I had to add the SketchUpAPI dll and others in the build folder, didn't know that, was putting it in the project folder (still very new to .NET development, only worked with Unity). Anyways, thank you very much for your help and time, I really appreciate it.

[2018-08-21 12:10] Kevinator123 commented on #5
Ok so another problem, loading your test skp's is no problem what so ever, but loading any other skp is doing nothing. I tried "Reformatting" them to version 2017 but that didn't work either.

[2018-08-23 10:43] Kevinator123 opened #17 "Doesn't work on all skp files?"
For some reason some skp files are perfectly readable except for the fact that it shows 0 surfaces, all the other stuff is there, like components, instances, materials, etc. But for some reason some files return 0 surfaces.

[2018-08-24 06:39] moethu commented on #17
@Kevinator123 did you check if the files are containing instances instead? In Skp you can model geometry like surfaces on root level but you can also wrap everything in instances, so you wouldn't see any surfaces in the model.

[2018-08-24 08:31] Kevinator123 commented on #17
Yes there are instances but how do I get the vertices out of them?

[2018-08-24 11:37] moethu commented on #17
Yes, an instance is a placed component: so instance -> component -> surfaces or curves.
And of course, components can be nested.
What kind of vertices are you looking for? Mesh vertices? Endpoints of curves?

[2018-08-24 11:38] moethu commented on #17
If you want to get Meshes: Surface -> FaceMesh

[2018-08-24 11:40] Kevinator123 commented on #17
Mesh vertices, I'm trying to rebuild the mesh in Unity. So I'll also need the transform of each instance and the indices for each vertex (they should all be in the correct order if I read the sketchup forum right?). Have you ever considered having an integration with Assimp.net? Would be neat!

[2018-08-24 11:47] moethu commented on #17
exactly, you just walk through all Components (on Model level) -> Surfaces -> FaceMesh and translate the Mesh into your format. The mesh definition is pretty simple: Normals, Vertices and Faces where Faces have 3 integers referring to the index of the vertices list.

[2018-08-24 11:51] Kevinator123 commented on #17
Ok thank you very much! For integration in Unity (at least the very basics of just the mesh) you need the vertices and their indices and that'll do. Thank you very much for your help!

[2018-08-24 11:53] moethu commented on #17
btw. when you load the model keep in mind to set the includeMeshes option to true - otherwise you won't get meshes

[2018-08-24 11:53] #17 closed

[2018-08-24 13:40] Kevinator123 commented on #17
Is there any way of retrieving UV coordinates from the sketchup file? Because I can't seem to find any reference to anything related to UV's.

[2018-08-30 14:35] Kevinator123 opened #18 "How to handle Surfaces part of a component but not an instance?"
Each vertice that is part of a surface which is part of an instance you can use .GetTransformed on and you get the correct position of the vertice to build your mesh but some components aren't part of an instance and contain surfaces that aren't part of an instance so how do you go about positioning those vertices in the correct place?

Sorry I have to ask it here but I don't know where else to go

[2018-08-31 15:23] kevinh145 opened #19 "Implement Scenes & References"
SketchUp makes use of scenes to hide and show a specified set of layers. It would be nice if there was a reference to these scenes.

[2018-09-06 18:30] moethu commented on #18
Hi @Kevinator123 so you want to get all surfaces as one list, correct?
So my take would be:
1. get all surfaces into a list
2. walk through all instances and get the surfaces and add them to the list
like this one:
https://github.com/moethu/SketchUpNET/blob/master/SketchUp/SketchUpNET/SketchUpForDynamo/SketchUp.cs#L280-L308

[2018-09-07 08:26] Kevinator123 commented on #18
Thanks for answering, the way I do it right now is check each instance, surface and group on model level and keep on going down the nested components but I'm still missing faces somehow.

https://github.com/Kevinator123/SketchUpReader/blob/master/ReadSKPConsole/Program.cs

[2018-09-07 15:28] Kevinator123 commented on #18
I think I checked all nested surfaces, foreach instance I get the parent component, for each of those components I draw the surfaces, I check the groups and check the instances. For each group I check the instances and their parent components and nested groups and for components I draw the surfaces, check for new instances and new groups. I also check for surfaces, groups and components on model l

[2018-09-10 08:27] Kevinator123 commented on #18
It definitely are just faces so I think it can be meshed, they are part of an instance. But what I just noticed is that everything that doesn't draw has as type: Type undefined. Perhaps that has something to do with it?

[2018-09-11 06:07] moethu commented on #18
Type undefined sounds odd, can you share your skp model with me so I can have a look. And please point me to the failing faces.

[2019-02-14 17:46] Reaper90 opened #21 "Cannot load models, when filepath contains special characters (ä, ö, ü, ß, ...)"
As the title already says, it's not possible to load models when the filepath (filename and folderpath) contains special (in this case german) characters (ä, ö, ü, ß, ...). I'm using this library in a VB.NET WPF application and apart from this it works perfectly fine. But i couldn't find a solution to this on my applications side.

Is it possible to fix this problem? I'm not that experienced when

[2019-07-05 22:00] iisfaq opened #22 "Materials not being saved to SKP file"
Hi

I have been trying to use your library and have found that my materials are not being saved to the SKP file.

I have created the following as an example. My main code creates faces etc but I removed them for this example.

I would assume the Material called "MyColor" would be saved to the SKP File.

[code]
Have I done something wrong?

I am using SketchUpNET-build-180818 (precompiled binaries)

[2019-07-08 02:42] iisfaq commented on #22
Looking at the source code there is no code to write the Materials.

SUEntitiesAddFaces(entities, Surfaces->Count, Surface::ListToSU(Surfaces));
SUEntitiesAddEdges(entities, Edges->Count, Edge::ListToSU(Edges));
SUEntitiesAddCurves(entities, Curves->Count, Curve::ListToSU(Curves));

There needs to be a call to SUModelAddMaterials()

[2019-07-08 02:42] #22 closed

[2019-07-12 06:18] 13704017891 opened #23 "Can this library be used in unity?"
I wanted to compile this library into unity, but now I'm having trouble.ask for help

[2019-07-18 06:53] 13704017891 commented on #18
@ KevinHuyskens Hello, do you import SKP with unity?I am doing the same thing, can you give me some reference?

[2019-07-18 07:37] moethu commented on #18
@KevinHuyskens , sorry just realizing you answered quite some time ago. I was wondering when I looked at your code: what about instances that contain other instances? and what about components containing components? both cases are not catched.

[2019-08-09 11:13] KevinBME commented on #18
@13704017891 Yes, I load the file externally and pass all the faces through with a named pipe. (haven't worked on this project for quiete some time).
@moethu I'll try this when I have time, see if it works, I'll keep you posted once I get to it.

(Same person, different account)

[2019-08-20 13:30] KevinHuyskens commented on #18
@moethu took a look at your suggestion just now, but your library's Instance  object doesn't contain any Instances and Component doesn't contain any Components so I can't catch those cases :')

[2019-08-22 08:19] moethu commented on #18
Did you check the Dynamo implementation as a reference? The components in there were able to catch all geometries so far. https://github.com/moethu/SketchUpNET/blob/master/SketchUp/SketchUpNET/SketchUpForDynamo/SketchUp.cs
Maybe I was missing something, I will setup a Windows VM to test you implementation but please have a look if you got all the nested elements etc.

[2019-08-22 08:32] moethu commented on #23
Hi, sure, you can just import SKP files using the library and translate to unity. Do you want to implement this yourself?

[2019-08-23 01:43] 13704017891 commented on #23
I'm doing it on my own, and I've seen some initial results, but now I have two problems.
1.Triangles vertex indices, whether both clockwise and counterclockwise?Because the unity will be removed, so counter-clockwise Triangles will not see, so how to solve
2.How to get map UV?

[2019-08-23 16:06] moethu commented on #23
1. I'm reading the order directly from sketchup, so however they are in skp - I will return the same order. If you want to make sure they are sorted clockwise you could walk through each triangle, get the centerpoint and make sure the vertices are sorted clockwise around it.
2. I can look into the UV map and if I can export this.

[2019-08-23 16:06] moethu opened #24 "Expose UV Map"

[2019-08-23 16:07] moethu commented on #23
#24

[2019-08-24 00:47] 13704017891 commented on #23
That's how I get uv：SUTextureWriterGetFrontFaceUVCoords.
But the UV does look like this (-11.4824665805793,-0.431334139639832).
This doesn't look like a UV coordinate.
It's the way I did it?
Can I get your contact information? My problem is urgent?

[2019-08-26 09:40] KevinHuyskens commented on #18
So instead of going over my old code I started completely over, here is a code sample for writing out everything in a treeview in wpf (I excluded edges and curves because I don't need them).

Here is the sample: https://pastebin.com/XpRWYruK
(start a new wpf project and add a treeview with name "treeView" if you want to use it yourself and change the model path and perhaps the namespace.)

Redoing

[2019-08-26 11:33] moethu commented on #23
Those are UV Coordinates, see description of the method:
Given an array of vertex positions, retrieves the corresponding UV coordinates of the front face texture of a face object that has been loaded into the given texture writer object.
https://en.wikipedia.org/wiki/UV_mapping
What exactly are you looking for?

[2019-08-26 11:36] moethu commented on #18
Let me know if anything is missing in the library

[2019-08-30 07:17] penguin-ku commented on #23
C++/CLI not supported by unity causing to mono.  P/invoke is the only way.

[2019-11-17 16:22] moethu commented on #23
@13704017891 any update on this? otherwise I will close this.

[2019-11-17 16:24] moethu commented on #21
Sorry to answer almost a year later... sure, that's not a big issue. I will have a look at it, or - create a PR if you can jump on it.

[2019-11-20 10:41] thinklikeanarchitect commented on #23
Hi,

I am just trying to import a Sketchup model at runtime in Unity3D. Could you please help me? I have copied the dll's and compiled them and then tried to write a basic script to call the model but couldn't succeed. Any help will be very helpful for me.

This is my script:

using System;
using UnityEngine;
using System.Runtime.InteropServices;
public class API : MonoBehaviour
{
    public strin

[2019-11-20 16:08] moethu commented on #23
can you share your error you are experiencing? sure the Dll Import Path is correct?

[2019-11-21 07:58] thinklikeanarchitect commented on #23
The error was like SUResult could not be found, are you missing an assembly reference.

Is there a basic workflow or script to import Sketchup Model into Unity at runtime? Thank you for your fast response and support.

[2020-02-20 02:08] xiaoxi-- commented on #12
怎么找到lib的，同求

[2020-02-29 13:40] george-tsiros commented on #12
oh ffs... WHERE did you find the lib?

[2020-05-19 12:55] MxMostafa opened #25 "SketchUpNET could not load file or assembly"
my project c# console
i add the library on project and build success but when run the project get the error
could not load file or assembly.....
i change build mode x86 x64 any cpu
downloaded files SketchUpNET build 180818.zip

[2020-05-24 10:15] moethu commented on #25
Hi @MxMostafa,
some questions regarding your build:
- which SketchUp API version did you build it with?
- which .NET Version did you use?

[2020-05-24 10:18] moethu opened #26 "Support SketchUp 2019 and 2020"
Add support for latest sketchup versions (eg. 2019 and 2020)

[2020-05-24 10:29] moethu commented on #26
https://github.com/moethu/SketchUpNET/pull/27

[2020-05-24 10:50] #26 closed

[2020-05-24 10:50] moethu commented on #25
You can also try the latest version that I just built

[2020-05-26 05:37] MxMostafa commented on #25
Hi @moethu
I Send Email for you to ‫maximilian.o.e.thumfart@gmail.com‬
I Use 180818 version
i Download SketchUpNET-master
and After Extract
from SketchUpNET-master\SketchUp\API path
add the SketchUpAPI.dll to reference but get error
'SketchUpAPI.dll could not be added. please make sure that the file is accessible. and that is a valid assembly or COM component '
from path 'SketchUpNET-master\Sketch

[2020-05-26 06:28] moethu commented on #25
Hi @MxMostafa,
so you were able to build SketchUpNET successfully right?
I would recommend to follow the example projects which are already in the solution. Like SketchUpDynamo. It shows how to setup a project referring to all necessary libraries.
Please make sure that:
- you placed all the files into the same folder so there is no path issue
- the .NET version of your console app isn't lower than

[2020-05-26 18:03] moethu commented on #21
this has been fixed with #9

[2020-05-26 18:03] #21 closed

[2020-05-26 18:03] #3 closed

[2020-05-26 18:03] #2 closed

[2020-05-27 06:03] moethu commented on #25
@MxMostafa I added a sample console app for you here: https://github.com/moethu/SketchUpNET/tree/master/SketchUpNETConsole

[2020-05-27 06:03] #25 closed

[2020-05-27 08:01] MxMostafa commented on #25
thank you so much
in my language Persian :  "خیلی مردی"  Which English is    ' Very manly '
   "خیلی مردی" : A very thankful term
------------------
but i have a question
can i create plugin for sketchup with c# and add icon to sketchup menu or
 must for create plugin use ruby?
i will add button to sketchup menu and when click get current document and
get all material info and save to database
now

[2020-05-27 10:18] moethu commented on #25
@MxMostafa I'm glad I was able to help you.
If you want to add a button you'll have to go through ruby. But what you can do is the following thing I did in this project: https://github.com/grevit-dev/Grevit/blob/master/Grevit.SketchUp/grevit_send_menu.rb
Add a small ruby script adding a button to SketchUp which then calls a command line application. This way you can develop your application fully

[2020-05-28 17:37] moethu commented on #23
@thinklikeanarchitect sorry for getting back so late about this. can you describe your setup in more detail please? OS / versions, etc?

[2020-05-28 18:10] thinklikeanarchitect commented on #23
WinOS-desktop platform, using Unity 2019.2.9f1.

[2020-05-29 12:17] moethu commented on #23
but from your code it doesn't look like you are using my library.
in your case you'll have to import SUResult as well, because it's going to be a response.

[2020-05-30 13:43] #23 closed

[2020-07-01 05:52] pm-Architect opened #30 "Rebuild GH package"
![Untitled](https://user-images.githubusercontent.com/63034836/86207722-bf72aa80-bb8c-11ea-9639-ab7d063d0955.png)
There seems to be some issue with the SketchUpNET.dll file when trying to run the Grasshopper file. @moethu can you please try rebuilding or modifying it so that it can run with Grasshopper for Rhino 6? I'm interested in contributing to the Grasshopper part of this project, but I'm no

[2020-07-01 06:59] moethu commented on #30
thanks @pm-Architect, I haven't built the GH version in while. will try to do that today.

[2020-07-01 10:29] moethu commented on #30
@pm-Architect can you give it a try please?
do you want to join on developing the GH components?

[2020-07-01 10:49] #30 closed

[2020-07-01 10:52] moethu opened #31 "Fix Grasshopper Extrusions"
GH Extrusions for surfaces seem to be off, they'll need to be fixed.

[2020-07-01 11:52] #31 closed

[2020-07-02 05:29] pm-Architect commented on #30
Absolutely! I'll give it a try today.

[2020-08-23 20:42] moethu commented on #19
Hi @promontis yes the library doesn't include scenes at the moment. It looks like it would be easy to add them. Do you need them for a specific use-case?

[2020-08-23 20:45] promontis commented on #19
@moethu yeah, I will need to read and write scenes. I'm creating a 3d configurator, and the different configurations are expressed as scenes.

[2020-08-24 07:15] moethu commented on #19
what parts of a scene would be necessary for you to achieve this? rendering options? layer settings? element visibility?

[2020-08-24 20:13] promontis commented on #19
@moethu element visibility... "hidden objects" in the SketchUp UI

[2020-08-26 20:38] promontis opened #34 "NuGet Package"
Is it possible to create a NuGet package for this awesome library?

[2020-08-29 13:20] moethu commented on #19
@promontis I started implementing a reading scenes with hidden elements feature first.
How would you like to access hidden elements? My first shot was adding a list of IDs of hidden elements - but then you'd need a central container for entities in the data model.

[2020-08-29 14:58] promontis commented on #19
What options do we have? Elements are now split up in different cases, right? Like components, curves, groups, instances, etc. What about adding a list of ID with the type of element? Does that work?

[2020-08-29 16:24] moethu commented on #19
In order to keep compatibility I wouldn't remove the existing lists by types. I added a new dictionary (int ID, entity) so you have both options in the end. objects are only referenced so this doesn't require much additional memory. Each Scene object has a list of hiddenElements containing references to the actual elements. Would this work for you?
So what about writing hidden elements, just allow

[2020-08-29 16:41] promontis commented on #19
Yeah, both suggestion work for me!

[2020-08-29 16:43] promontis opened #35 ".NET Core support (and Linux and macOS)"
AFAIK SketchUpNET only works on Windows right? You are using a vcxproj project, that has C++ sources.

This articles discusses how to port a C++ project to .NET Core: https://docs.microsoft.com/en-us/dotnet/core/porting/cpp-cli. However, it notes that C++/CLI support for .NET Core is Windows only. Support for macOS or Linux isn't probably to come (for a long time).

They recommend using platform i

[2020-08-29 18:54] moethu commented on #19
Got an issue with writing hidden entities, the API doesn't provide a method for it. There is no `SUSceneSetHiddenEntities`. I'll check if there is any workaround but I implemented a way to get Scenes and their hidden entities.

[2020-08-29 18:56] moethu commented on #35
Good idea, I'll give it a try but I doubt that the SkechUp C++ API (slapi) will work on dotnetcore.

[2020-08-30 09:17] moethu commented on #19
@promontis can you give this branch a try? it works for me. writing scenes however will require some more changes in the library.

[2021-03-25 07:27] alphonse-lin opened #36 "cannot export skp model via layer or group i set"
when i try to load skp model, it is quite smooth for me to extract surface or edges by layers or group. But when I try to write SKP model via layers or group, it cannot really work.

![image](https://user-images.githubusercontent.com/38575020/112434335-6b44d180-8d7e-11eb-99fa-7aaf49af0915.png)

![image](https://user-images.githubusercontent.com/38575020/112434455-93cccb80-8d7e-11eb-8a4c-f6312c70a8

[2021-05-23 17:29] moethu commented on #36
Hi @alphonse-lin ,
can you share the model with me so I can debug this.

[2021-11-19 15:12] Mustenaka opened #39 "Please publish to NuGet Package Manager"
### Please publish to NuGet Package Manager

[2021-12-02 23:05] RonLight opened #40 "Having trouble creating a surface with a hole in it."
I am getting weird results when trying to create a surface with a hole in it. In order to test my code, I created a square with a square hole in Sketchup. I opened the file and created code from all the values in the opened file (second part of code.txt). Finally I just tried opening the file and saving it and I get the same results. The shape is merged together.

Any suggestions?
Thank you

![Inp

[2022-01-07 09:24] kirabo opened #41 "Allow material inheritance from groups or instances on default materials"
no link FaceBackMaterial in group?
//Function is
//static Surface^ FromSU(SUFaceRef face, bool includeMeshes, System::Collections::Generic::Dictionary<String^, Material^>^ materials)
SUMaterialRef mback = SU_INVALID;
			SUFaceGetBackMaterial(face, &mback); **//Error mback is 0x00**
			SUStringRef mbackNameRef = SU_INVALID;
			SUStringCreate(&mbackNameRef);
			SUMaterialGetName(mback, &mbackNameRef

[2022-01-07 09:30] kirabo commented on #41
testfile is
![image](https://user-images.githubusercontent.com/20675464/148522787-8749a1bc-968b-493b-8f4c-1cfa346c3504.png)

load error no mat info
![image](https://user-images.githubusercontent.com/20675464/148523029-2e4e57d1-dbbc-444a-8e15-59d1d06c156c.png)

![image](https://user-images.githubusercontent.com/20675464/148523084-89ab4dda-efd7-430d-994c-f5d81ed2a806.png)

[2022-01-17 08:24] moethu commented on #40
thanks, I will have a look at this later today.

[2022-01-17 12:50] moethu commented on #41
I had a look at the model and it looks like your material is applied to the group instead of the surface itself. when selecting the surface both materials are set to the default material. It looks like if the default material is selected, the element can inherit the material from the group level. I'll check if I can retrieve this material setting on group level using `SUDrawingElementGetMaterial`

[2022-01-17 13:53] moethu commented on #41
@kirabo I implemented a Material property on group and on instance level. This property will reflect the material you applied to the group. The surface's material properties will remain empty (or default) because that's what they are set to.

[2022-01-17 16:32] moethu commented on #40
Thanks @RonLight for reporting this. Writing inner loops actually has never been implemented in this library, therefore I started implementing this feature in this branch: https://github.com/moethu/SketchUpNET/tree/feature/innersurfaceloops  - the test worked out fine already. please assure that your loops are closed and contain ordered edges without any duplicates on their start points. CW or CCW

[2022-01-17 17:02] #40 closed

[2022-01-18 03:33] kirabo commented on #41
bug fix
if mat is null,need check parent group mat

ADD TO Surface FromSU

if (string.IsNullOrEmpty(mbackName) && string.IsNullOrEmpty(minnerName)

URef elem;
                    elem = SketchUpAPI.SUGroupToDrawingElement(group);
                    if (elem.ptr != IntPtr.Zero)
                    {
                        SURef groupMat;
                        int n = SketchUpAPI.SUDrawingElemen

[2022-01-18 07:23] moethu commented on #41
Hi @kirabo I think I get your point. What you are asking for is raising a question of data integrity on my end. The job of this library is to represent the SketchUp Model as closely as possible as it is provided by the C API. Therefore I do not consider this a bug because this is how the data is returned from the C API. Inheriting materials from the group level is an interpretation done by the Ske

[2022-01-18 07:28] moethu commented on #39
duplicate with #34

[2022-01-18 07:28] #39 closed

[2022-01-18 07:43] moethu commented on #19
@promontis I never got your feedback on this one, does it work?

[2022-01-18 08:04] moethu commented on #35
Just checked this one again, currently there is no planned support of C++/CLI for linux mac in any near future. One option would be to get rid of C++/CLI and use Pinvoke instead. Would be a larger rewrite but could be worth it. I'd first try a simple implementation, eg. reading one vertex to see if the SketchUp C API works in Linux.

[2022-01-18 08:26] kirabo commented on #41
import to twinmotion not bug
1.if surface has mat, use surface mat
2.if surface null mat,use parent group mat
3.if parent group mat is null, use parentparent group mat
it is twinmotion logic

my application is unity runtime import skpfile

[2022-01-18 09:07] moethu commented on #41
There is one other issue you should be aware of, which are the components. If a component has default materials applied, in sketchup they are overwritten by the instance material. If you have two instances, one with a red material and one with a green material - there is still only one component in the database. Therefore I cannot override the material because it's either red or green. You get my

[2022-01-18 14:39] moethu commented on #34
Nuget package has been submitted and is waiting for review.

[2022-01-18 14:40] moethu commented on #34
https://www.nuget.org/packages/SketchUpNET/1.7.2

[2022-01-18 14:40] #34 closed

[2022-01-19 07:14] moethu commented on #41
@kirabo can you test the above branch and give me feedback please?

[2022-01-20 07:24] kirabo commented on #41
yes fix done，thanks 👍

[2022-01-29 08:17] moethu commented on #40
@RonLight did you find time testing this?

[2022-01-29 14:32] RonLight commented on #40
Thanks for checking back. It did fix it for the example I gave. However, if I have something more complex, it fails.
At this point, I am simply opening the file and saving it.

![TestCubeInput](https://user-images.githubusercontent.com/1970350/151664811-ff1744a0-01e7-47b8-a6a9-2d3853d300be.png)
![TestCubeOutput](https://user-images.githubusercontent.com/1970350/151664814-71edef9d-ab84-4519-b504-89

[2022-01-30 13:57] moethu commented on #40
Thanks for testing this. Most users use this lib for either reading or writing but rarely both. Looks like the point order gets messed up either on read or on write. my suspicion is I created the issue by relying on ordered and directed edges in loops. I'm only adding the start point of each edge:
https://github.com/moethu/SketchUpNET/blob/master/SketchUpNET/Surface.cpp#L191
I'll change that to ma

[2022-01-30 15:18] RonLight commented on #40
I plan on using it to write, but I am using the read to help figure out
what I need to do. Have components been implemented? I notice I can read
components, but have not been able to write them.

Thanks
Ron

On Sun, Jan 30, 2022 at 7:57 AM moethu ***@***.***> wrote:

[2022-01-30 18:16] moethu commented on #40
currently you cannot write them, that's right. but that shouldn't be too hard to add. what would you need? surfaces and edges?
about the reading and writing back issue: I gave it a go (https://github.com/moethu/SketchUpNET/commit/48be53985a9f180dff32b10a01c2a674f8caf5f0) and tried your file. it looks like this is becoming a rounding / tolerance issue. changing tolerances I can almost get the corre

[2022-02-09 19:51] KilianSteenman commented on #24
Am I correct that UV data is currently not available in SketchUpNET? If not, what is your future vision on this? Would you prefer adding UV data to the vertex data or just making the uv_helper available in SketchUpNET?

[2022-03-04 02:56] liyanjie8712 opened #44 "System.IO.FileNotFoundException with Nuget Package"
IDE:VS2022(x64 17.1)
Package:SketchUpNET 1.7.2 from Nuget with Nuget Package Manager
Project:both Console(.Net Core but change targetframework .net 6.0 to .net462) and Console(.Net Framework 4.6.2)
Code:
`using System;
using SketchUpNET;

namespace ConsoleApp
{
    class Program
    {
        static void Main(string[] args)
        {
            SketchUp skp = new SketchUp();
            if (skp.L

[2022-03-12 19:10] #44 closed

[2022-04-07 12:33] PauliusVa opened #46 "Would it be possible to run this package on .net framework 4.8 ?"
Im trying to test this lib. on 4.8 .net framework and get:
System.BadImageFormatException: 'Could not load file or assembly 'SketchUpNET, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. An attempt was made to load a program with an incorrect format.'
How to solve this, as 4.0 .net framework is no longer available for download

[2022-04-08 09:44] PauliusVa commented on #46
Found my problem. I set Build > Platform target: x64 and now no errors.

[2022-04-08 09:44] #46 closed, assigned to nobody

[2022-04-08 11:44] PauliusVa commented on #41
could someone post a sample how to correctly assign material to surface, as for me it doesnt work.
I added material to skp.material. then also assign it to surface material. but still i get default material instead of my chosen one.

[2022-04-15 06:50] moethu commented on #41
@PauliusVa I just checked: applying materials to surfaces isn't implemented yet but I'll add this.

[2022-04-15 07:50] moethu commented on #41
@PauliusVa do you want to give this branch a try please: https://github.com/moethu/SketchUpNET/tree/feature/facematerials

[2022-04-19 07:12] PauliusVa commented on #41
@moethu i have some issues loading assembly file:
if i add this to my reference list: .\SketchUpNET\x64\Debug\SketchUpNET.dll
i have an error: System.IO.FileNotFoundException: 'Could not load file or assembly 'SketchUpNET.dll' or one of its dependencies. The specified module could not be found.'

Seems it is missing another .dll file. any ideas what could be missing ?

[2022-04-26 11:23] PauliusVa opened #47 "Is it a way to draw text ?"
Hi , i wonder is there a function to draw 3d text or any other text in 3D space ?

[2022-05-05 06:12] PauliusVa commented on #41
skp.Materials.Add("black", new Material("black", new Color(100, 120, 120, 50), false, 0.5, true, false, null));
            Surface s = new Surface(OuterEdges, InnerLoops);
            s.FrontMaterial = skp.Materials["black"];
            s.BackMaterial = skp.Materials["black"];
            skp.Surfaces.Add(s);

doesnt seem to work, or am i doing smth wrong.

[2022-05-05 12:38] PauliusVa opened #48 "file unit system"
Hi , is there a way to change file unit system to milimeters, as now on default it is set to meters

i found a ref how to implement it in c but dont have understanding how to fill in in a wrapper
https://extensions.sketchup.com/developers/sketchup_c_api/sketchup/struct_s_u_options_provider_ref.html

[2022-05-26 06:45] Zhuangkh opened #49 "writing components and groups support"
Is support writing components and groups when creating a new model?
The `WriteNewModel` method seems to handle only faces, edges, and curves.

https://github.com/moethu/SketchUpNET/blob/eed3cd9a734ec6a3ed66a28a9f85d1d1d6b325e0/SketchUpNET/SketchUpNET.cpp#L342-L344

[2022-06-05 07:28] moethu commented on #47
hi, at the moment not, but it should be possible to implement. https://extensions.sketchup.com/developers/sketchup_c_api/sketchup/struct_s_u_text_ref.html

[2022-06-05 07:30] moethu commented on #48
Thanks, looks pretty straight forward to implement, I can add this feature.

[2022-06-05 07:32] moethu commented on #49
sure, that should be possible. I'll see if I can give it a try by the end of the week.

[2022-06-29 08:36] PauliusVa opened #50 "dependecies issue"
Hi , i have developed a tool and it worked on my machine , but when i transferred the build process to the server , i got FileNotFoundException on sketchupNet.dll later i tried to reinstall the runtime witch is given in a **Requirements** but aint no effect on this. So try after try i managed to clone this whole repository and noticed tha c++ development package was needed , after installing it no

[2022-08-23 12:33] PauliusVa commented on #50
_There was a mismatch between the processor architecture of the project being built "MSIL" and the processor architecture of the reference "C:\Users\myUserName\.nuget\packages\sketchupnet\1.7.2\lib\net40\SketchUpNET.dll", "AMD64". This mismatch may cause runtime failures. Please consider changing the targeted processor architecture of your project through the Configuration Manager so as to align t

[2022-08-24 07:38] PauliusVa commented on #50
I found the solution, some how when installing nuget package and doing build process files:
sketchup.lib, SketchUpAPI.dll, SketchUpAPI.lib, SketchUpCommonPreferences.dll are not copied to debug directory where the app is ant those get missing.
I found that with a help of this tool Dependency Walker witch has new version Dependencies from (https://github.com/lucasg/Dependencies) and attaching to it

[2022-08-24 07:38] #50 closed, assigned to nobody

[2022-09-06 21:42] alexfevery opened #51 "Can not load SketchUpNET.dll"
VS 2022 using x64

I installed 1.7.2 via Nuget and tried to run your example code. I get an exception

"System.IO.FileNotFoundException: 'Could not load file or assembly 'SketchUpNET.dll' or one of its dependencies. The specified module could not be found.'"

I tried deleting the reference and downloading the 1.7.3 dll and referencing that instead. Same error.